apiVersion: apps/v1
kind: Deployment
metadata:
  name: helm-front-kube
spec:
  replicas: 2
  selector:
    matchLabels:
      app: front
  template:
    metadata:
      labels:
        app: front
    spec:
      containers:
      - name: front
        image: 980377181750.dkr.ecr.eu-west-3.amazonaws.com/front:15
        ports:
        - containerPort: 80

